

<div class="container">
    <div class="row justify-content-center align-items-center">
      <form>
         <h3> <i><label for="formGroupExampleInput2"> delete Employee Record </label> </i></h3>
            <div class="form-group">
            <label for="formGroupExampleInput2">Employee ID   :</label>
            <input type="text"  id="empid"  [(ngModel)]="uid" name="user id" placeholder="Employee ID"  > 
            <br>
            <input style="background-color:rgb(231, 110, 110);"  type="submit"  id="phone" placeholder="Create" value="Delete " (click)="deletebtn()">   
              
              
              <p>
               <!-- Taking value by inpute {{serverName | uppercase  }} -->
                <b>{{todaydate | date:'d/M/y'}}</b>
              </p>
          </div>
      </form>
    </div>
    <div style="align-items: center"> 
      <h5 style="color: rgb(211, 32, 32);">  {{deletmsg +" "+ uid }} </h5>
    </div>
</div>
