
<!-- this is angular provided directive   -->
<nav class="navbar navbar-expand-sm bg-primary navbar-light ">
   <ul class="navbar-nav">
            <a routerLink="search" style="color: antiquewhite"   routerLinkActive="active" class="nav-link"> Employee search </a>
            
        
        
            <a routerLink="register" routerLinkActive="active" class="nav-link" > Register User </a>
       
            <a routerLink="delete" routerLinkActive="active" class="nav-link" href=""> Delete User </a>
        

         
            <a routerLink="getallusers" routerLinkActive="active" class="nav-link"> Get All Users </a>
        
         
            <a routerLink="sortby" routerLinkActive="active" class=" nav-link"> Sorted Users  </a>
         

   </ul>

 </nav>

    <router-outlet></router-outlet>
<!--  
   <app-create-employee> </app-create-employee>
   <app-update-employee> </app-update-employee>
   <app-get-employee></app-get-employee>
   <h2> Perform search OPs here...by name,lname,pincode</h2>
   <app-search-user></app-search-user>
   <app-delete-employee></app-delete-employee>
   
-->

<footer class="footer">
   <div class="container">
    <span> all right reserved by Uddhav Dawale </span>

   </div>
</footer>


